header {
  background-color: darkturquoise;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #314f40;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav > ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
}
nav > ul > li {
  border-right: 2px solid black;
  padding: 7px;
}
a {
  text-decoration: none;
  color: white;
}
#grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.col1 {
  background-color: darkgray;
  width: 30%;
  height: 400px;
}
.col3 {
  background-color: gray;
  width: 30%;
  height: 400px;
}
.col2 {
  background-color: dimgray;
  height: 400px;
  width: 40%;
}

footer {
  background-color: #314f40;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 15px;
  color: white;
}
@media screen and (max-width: 600px) {
  .col1 {
    background-color: darkgray;
    width: 50%;
    height: 400px;
    order: 1;
  }
  .col3 {
    background-color: gray;
    width: 50%;
    height: 400px;
    order: 2;
  }
  .col2 {
    background-color: dimgray;
    height: 400px;
    flex-grow: 2;
    order: 3;
  }
}
